extends ./base/base.pug

block variables
    - const title = "Sản phẩm"
    - const current = "/products.html"
    - const levels = [["Trang chủ", "/"], ["Sản phẩm", "products.html"]]
    include ./variables/product_variables.pug

include ./components/breadcrumb.pug

block layout
    include ./partials/header.pug

    +breadcrumb(levels)

    section.banner
        div.container
            div.banner-img

    section.product
        div.container
            div.row
                div.col-lg-3
                    div.product-sidebar
                        div.product-category
                            h1.subtitle Danh mục sản phẩm
                            each item in productCategories
                                - const { type, items } = item
                                h3=type
                                ul
                                    each item in items
                                        - const { label, amount } = item
                                        li(class=`${label === productCategories[0].items[3].label ? 'active' : ''}`)
                                            a.btn.btn-link=label
                                                span=`(${amount})`
                        div.product-compare
                            h1.subtitle So sánh sản phẩm
                            p Bạn chưa có sản phẩm nào để so sánh
                        div.product-tag
                            h1.subtitle Tag sản phẩm
                            div.tags
                                each item in productTags
                                    if item === productTags[0]
                                        button.btn.tag.tag--active=item
                                    else
                                        button.btn.tag=item
                        div.product-banner
                            img(src="./assets/img/ads.jpg")
                div.col-lg-9
                    

        
    include ./partials/footer.pug